body{
    /* align-items: center; */
    background-color: blue;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 0;
}
nav{
    background-size: 15vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    
}
nav h1{
    font-family: 'Luckiest Guy';
    font-size: xx-large;
    text-align: center;
    color: rgba(0, 0, 0, 0.829);
    text-decoration: none;
    align-items: flex-end;
}
article{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    margin-top: 60px;
    width: 400px;
}
.correta{
    background-color: lightgreen;
}
.correta, .incorreta{
    border-radius: 50%;
    font-size: 0;
    height: 40px;
    margin: 1px;
    width: 40px;
}

div img {
    display: flex;
    margin: 0 auto;
}

header{
    align-items: center;
    display: flex;
    /* justify-content: space-around; */
}

header h2 {
    margin: 30px 10px 0 auto;
}

header p{
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    margin: 30px auto 0 10px;
}

header a{
    margin-right: 50px;
    color: whitesmoke;
}

.inativo{
    display: none;
}
.incorreta{
    background-color: lightcoral;
}
.palavra{
    align-items: center;
    color: whitesmoke;
    display: flex;
    font-size: 20pt;
    justify-content: center;
}
section{
    display: grid;
    grid-template-areas: " . d0 d1 d2 d3 d4 d5 d6 ."
                         " . t0 t1 t2 t3 t4 t5 t6 .";
    grid-template-columns: 35vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 30.2vw;
    grid-template-rows: 50px 20px;
}

section div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
section span{
    background-color: rgb(255, 255, 255);
    height: 2px;
    margin: 0.5vw;
}

.span-inativo{
    display: none;
}

img{
    margin: 15px;
    width: 20vw;
    height: 43vh;
    justify-content: space-around;

}

.teclas{
    font-family: 'Fira Sans', sans-serif;
    align-items: center;
    background-color: aliceblue;
    border-radius: 50%;
    color: #202020;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 2px;
    width: 40px;
}
.teclas:hover{
    cursor: pointer;
}
footer{
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-size: 10px;
    margin: 0;
    
}
footer img{
    width: 20px;
    height: 20px;
}
