body{
    align-items: center;
    background-color: blue;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    width: 400px;
}
.correta{
    background-color: lightgreen;
}
.correta, .incorreta{
    border-radius: 50%;
    font-size: 0;
    height: 40px;
    margin: 1px;
    width: 40px;
}
header{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100px;
}
.inativo{
    display: none;
}
.incorreta{
    background-color: lightcoral;
}
.palavra{
    align-items: center;
    color: whitesmoke;
    display: flex;
    font-size: 20pt;
    height: 30px;
    justify-content: center;
    width: 30px;
}
section{
    display: flex;
}
.teclas{
    align-items: center;
    background-color: aliceblue;
    border-radius: 50%;
    color: #202020;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 1px;
    width: 40px;
}
.teclas:hover{
    cursor: pointer;
}